* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  @include imgBackground($src: "/strawberry-thief-background.webp");

  body {
    @include transparentBack;
  }

  main {
    @include flexColumn(
      $gap: 20px,
      $text: left,
      $align: center,
      $justify: center
    );
    @include bigMargin;
  }
}
