#buttons {
  @include flexRow($gap: 20px, $wrap: wrap);

  .button {
    $x-shadow: 1px;
    $y-shadow: 2px;

    @include transparentBack;
    @include offWhiteBorder(1px);
    @include noOutline;
    @include offWhiteShadow($x-shadow, $y-shadow);
    @include roundBorder;

    color: $off-white;
    padding: 5px 10px;

    &:hover,
    &:active {
      background-color: $darker-blue-back !important;
    }

    &:active {
      box-shadow: none !important;
      transform: translateX($x-shadow) translateY($y-shadow);
    }

    &:focus {
      @include offWhiteShadow($x-shadow, $y-shadow);
    }
  }
}

.back-btn {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 30px;
  color: #fff !important;
  transition: opacity 0.2s;
}

.back-btn:hover {
  opacity: 0.75;
}
