.credits {
  @include flexColumn($gap: 0px, $text: right, $align: right, $justify: right);
  @include bigMargin;
  color: $off-white;
  font-size: 14px;
  line-height: 1.2;
  margin-top: -60px;
  padding-right: 10%;

  a {
    color: $off-white;
    text-decoration: underline 1px transparent;

    &:hover {
      color: #fff;
      text-decoration: underline 1px #fff;
    }
  }
}
