.tile {
  @include roundBorder;
  @include offWhiteBorder(0.5px);
  @include flexColumn($gap: 15px, $text: left, $align: left, $justify: left);
  @include animateWidthHeight;
  background-color: $blue-back;
  min-width: 179px;
  width: 80%;
  padding: 1.5rem;
  margin: 1rem;

  h3 {
    color: $full-white;
    font-size: 20px;
    margin-bottom: -3px;
  }

  %text-box {
    @include roundBorder;
    background-color: $off-white;
    color: black;
  }

  #quote-text {
    @extend %text-box;
    margin-bottom: 0.25rem;
    margin-top: 0;
    padding: 20px;
  }

  #predicament {
    @extend %text-box;
    @include noOutline;
    margin-bottom: 1rem;
    padding: 11px;
  }

  #author {
    color: $off-white;
    align-self: flex-end;
    margin-bottom: 0.25rem;
    cursor: default;
  }
}
