@mixin imgBackground($src) {
  background-color: $multiply-back;
  background-image: url($src);
  background-blend-mode: multiply;
  background-attachment: fixed;
}

@mixin flexColumn($gap, $text, $align, $justify) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  text-align: $text;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexRow($gap, $wrap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin bigMargin {
  margin: 3rem;
}

@mixin transparentBack {
  background: transparent !important;
}

@mixin noOutline {
  outline: none !important;
}

@mixin offWhiteBorder($width) {
  border: $width solid $off-white !important;
}

@mixin roundBorder {
  border-radius: 5px;
}

@mixin offWhiteShadow($x, $y) {
  box-shadow: $x $y $off-white;
}

@mixin tempBorder {
  border: 1px solid #fff;
}
