* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  background-color: #727272;
  background-image: url("./assets/strawberry-thief-background.webp");
  background-blend-mode: multiply;
  background-attachment: fixed;
}

body {
  background: transparent !important;
}

.d-flex {
  gap: 20px;
}

.subdiv {
  border: 0.5px solid #ddd;
  background-color: #1c252d;
  font-family: "DM Sans", sans-serif;
  font-weight: 300 !important;
  min-width: 179px;
  color: #fff;
  width: 80%;
}

#quote-box {
  align-items: center;
}

.subdiv h3 {
  font-size: 20px;
}

.btn {
  background-color: transparent !important;
  border: 1px solid #ddd !important;
  outline: none !important;
  box-shadow: 1px 2px #ddd;
  transition: translate 0.5s;
}

.btn:hover {
  background-color: #13191f !important;
}

.btn:active {
  transform: translateY(2px) translateX(1px);
  background-color: #fff;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: 1px 2px #ddd;
}

.quote-text {
  background-color: #ddd;
  color: #000;
}

#predicament {
  background-color: #ddd;
  padding: 11px;
  outline: none !important;
}

.credits,
.credits a {
  color: #ddd !important;
}

.credits {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  text-align: right;
  font-size: 14px;
  width: 80%;
  margin-top: -30px;
  margin-right: 5px;
  transition: width 0.5s ease-in-out;
}

.credits a {
  color: #ddd;
  transition: color 0.5s ease;
}

.credits a:hover {
  color: #fff;
}

@media only screen and (max-width: 503px) {
  .subdiv h3 {
    font-size: 17px;
  }
  .subdiv,
  #predicament,
  .credits {
    text-align: center;
  }
  #buttons {
    justify-content: center;
  }
  #author {
    align-self: center;
  }
}

@media only screen and (min-width: 1145px) {
  .subdiv,
  .credits {
    width: 1015px;
    margin-left: auto;
    margin-right: auto;
  }
}
